
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header {
    font-size: 3em;
    padding: 30px 15px;
    margin-bottom: 30px;
}

form {
    padding: 20px;
}

footer {
    font-size: 1em;
    padding: 15px;
}

.table-stuff {
    padding: 0 20px;
}

.table, .form {
    border: 1px solid #2e7d32;
    margin-bottom: 30px;

}

.header {
    font-size: 1em;
    padding: 10px;
}
