
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header {
    margin-bottom: 30px;
    padding: 20px 0;

}

.main-header {
    padding: 20px 0;
    border: 1px solid white;
}

.main-header-text {
    transform: scaleX(1.1);
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 2px;

}

form {
    padding: 10px 20px;
    position: relative;
}

footer {
    font-size: 1em;
    padding: 15px;
    font-weight: 200px;
    letter-spacing: 1px;
}

input[type=text]:focus + label, input[type=number]:focus + label {
    color: #000 !important;
}

input[type=text]:focus, input[type=number]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
    font-size: 1.2em;
}

.table-stuff {
    padding: 0 20px;
}

.table, .form {
    border: 1px solid #2e7d32;
    margin-bottom: 30px;

}

.header {
    font-size: 1.2em;
    padding: 10px;
    font-weight: 500;
}

.submit {
    display: block;
    margin-top: 30px;
    font-size: 1em;
    padding: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

.submit:focus {
    outline: none;
}

::placeholder {
    color: #80cbc4;
}